.postsWrapper {
  margin-bottom: 32px;
}

.post {
  padding: 18px var(--mobile-side-padding) 19px;
  border-top: 1px solid #e5e5e5;
  background-color: var(--white);
}

.post:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.postTitle {
  margin: 0;
  margin-bottom: 12px;
  color: var(--blue-700);
  font-size: 20px;
  line-height: 1.316;
}

.postInfoSeparator {
  color: var(--grey-500);
}

.postSubreddit {
  color: var(--blue-400);
  font-weight: var(--font-weight-bold);
}

.postUpvotes {
  color: var(--grey-500);
}

.postUpvotesCount {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 600px) {
  .bestPosts {
    max-width: 688px;
    margin: 0 auto;
  }

  .postsWrapper {
    padding: 0 var(--mobile-side-padding);
  }

  .post {
    margin-bottom: 24px;
    padding: 28px 24px 27px;
    border: 1px solid var(--grey-200);
    border-radius: 5px;
  }

  .postTitle {
    font-size: 24px;
  }

  .postSubreddit {
    font-size: 18px;
  }

  .postUpvotes {
    font-size: 18px;
    color: var(--grey-500);
  }

  .postInfoSeparator {
    font-size: 18px;
  }
}
