@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  --grey-200: #e2e7eb;
  --grey-500: #8a95a5;
  --grey-100: #f8f9fa;
  --blue-400: #4583c2;
  --blue-700: #263d52;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --white: #ffffff;
  --main-bg-color: var(--grey-100);
  --mobile-side-padding: 16px;
  --mobile-breakpoint: 600px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
